#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
#startbox {
    position: absolute;
    left: calc(50vw - 75px);
    top: 30vh;
}
#startbox button {
    width: 200px;
    height: 57px;
    font-size: 35px;
}
#startbox p {
    text-align: center;
    margin: 0;
    font-size: 20px;
}
